/* 
Цвет основного текста #757575;
Вторичный цвет текста #212121;
Акцент #2196F3;
Основной цвет фона #F5F5F5;
Вторичный цвет фона #F5F4FA;
Цвет фона футера #2F303A; 
*/

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --background-color-page: #F5F5F5;
    --secondary-background-color-pag: #F5F4FA
}
.body {
    background-color: var(--background-color-page);
    color: var(--primary-text-color);
}
.list {
    list-style: none;
}

/* Header */
.page-header {
    background-color: #ffffff;
}

/* Логотип header*/
.logo {
    color: var(--accent-color);
}
.logo-web {
    color: #000000;
}

/* Site nav */
.site-nav .link {
    color: var(--title-text-color);
}
.site-nav .link:hover, 
.site-nav .link:focus {
color: var(--accent-color);
}
.site-nav .link-current {
    color: var(--accent-color);
}
.site-nav .link-current:hover,
.site-nav .link-current:focus {
color: var(--title-text-color);
}

/* Авторизація */
.auth-nav .link-mail {
    color: var(--accent-color);
}
.auth-nav .link-mail:hover,
.auth-nav .link-mail:focus {
color: var(--title-text-color);
}
.auth-nav .link-tel {
    color: var(--primary-text-color);
}
.auth-nav .link-tel:hover,
.auth-nav .link-tel:focus {
    color: var(--accent-color);
}

/* Main */
.page-main {
    background-color: var(--background-color-page);
}
/* Блок герой */
.hero {
    background-color: #2F303A;
    color: #ffffff;
}
.hero-button {
background-color: var(--accent-color);
color: #ffffff;
}
.hero-button:hover,
.hero-button:focus {
    background-color: #188CE8;
}
/* Особливості */
.Features .title {
color: var(--title-text-color);
}
.Features .text {
    color: var(--primary-text-color);
}
/* Чим ми займаємося */
.work .title {
    color: var(--title-text-color);
}
/* Наша команда */
.team,
.title, .title-team {
    background-color: var(--secondary-background-color-pag);
    color: var(--title-text-color);
}
.team .text {
    color: var(--primary-text-color);
}
/* Footer */
.page-footer {
    background-color: #2F303A; 
}
/* Логотип Footer */
.logo-web-footer {
    color: #ffffff;
}
/* Адреса Footer */
.address .link-address {
    color: #ffffff;
}
.address .link-mail {
    color: rgb(255, 255, 255, 0.6)
}
.address .link-tel {
    color: rgb(255, 255, 255, 0.6)
} 
.auth-nav .link-mail {
    color: var(--accent-color);
}

.address .link-mail:hover,
.address .link-mail:focus {
    color: var(--accent-color);
}
.address .link-tel:hover,
.address .link-tel:focus {
    color: var(--accent-color);
}
.address .link-address:hover,
.address .link-address:focus {
    color: var(--accent-color);
}
/* ---------ПОРТФОЛІО--------- */
/* Кнопки */
.filter-button {
    color: var(--title-text-color);
    background-color: var(--secondary-background-color-pag);
}
.filter-button:hover,
.filter-button:focus {
    color: #ffffff;
    background-color: var(--accent-color);
}
/* Перелік робіт */
.filter .title-filter {
    color: var(--title-text-color);
}