/* 
Цвет основного текста #757575;
Вторичный цвет текста #212121;
Цвет логотипа футера #000000;
Цвет текста кнопок #ffffff;
Цвет текста футера #ffffff;
Акцент цвета текста футера rgba(255, 255, 255, 0.6);
Акцент #2196F3;
Основной цвет фона #F5F5F5;
Вторичный цвет фона #F5F4FA;
Цвет фона хедера #ffffff;
Цвет фона герой #2F303A;
Цвет активации кнопки #188CE8;
Цвет фона футера #2F303A; 
*/

:root {
    /* текст */
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --logo-text-color: #000000;
    --button-text-color: #ffffff;
    --footer-text-color: #ffffff;
    --accent-color-text-footer: rgba(255, 255, 255, 0.6);
     /* фон */
    --accent-color: #2196F3;
    --background-color-page: #F5F5F5;
    --secondary-background-color-pag: #F5F4FA;
    --background-color-header: #ffffff;
    --booton-activ-color: #188CE8;
    --background-color-footer: #2F303A;
}
.body {
    background-color: var(--background-color-page);
    
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-style: normal;
    letter-spacing: 0.03em;
}
.list {
    list-style: none;
}

/* Header */
.page-header {
    background-color: var(--background-color-header);
    
    letter-spacing: 0.02em;
}

/* Логотип header*/
.logo {
    color: var(--accent-color);
    
    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    line-height: 100%;
    text-align: Left;
    vertical-align: Top;
}
.logo-web {
    color: var(--logo-text-color);
    
    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    line-height: 100%;
    text-align: Left;
    vertical-align: Top;
}

/* Site nav */
.nav-link {
    color: var(--title-text-color);
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    line-height: 100%;
    text-align: Left;
    vertical-align: Top;
}
.site-nav .nav-link:hover, 
.site-nav .nav-link:focus {
color: var(--accent-color);
}
.link-current {
    color: var(--accent-color);
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    line-height: 100%;
    text-align: Left;
    vertical-align: Top;
}
.site-nav .link-current:hover,
.site-nav .link-current:focus {
color: var(--title-text-color);
}

/* Авторизація */
.auth-link-mail {
    color: var(--accent-color);
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    line-height: 100%;
    text-align: Left;
    vertical-align: Top;
}
.auth-link-mail:hover,
.auth-link-mail:focus {
color: var(--title-text-color);
}
.auth-link-tel {
    color: var(--primary-text-color);
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    line-height: 100%;
    text-align: Left;
    vertical-align: Top;
}
.auth-link-tel:hover,
.auth-link-tel:focus {
    color: var(--accent-color);
}

/* Main */
.page-main {
    background-color: var(--background-color-page);
}
/* Блок герой */
.hero {
    background-color: var(--background-color-footer);
    color: var(--button-text-color);
    
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    line-height: 116%;
    text-align: center;
    vertical-align: Top;
}
.hero-button {
background-color: var(--accent-color);
color: var(--button-text-color);

font-family: inherit;
letter-spacing: 0.06em;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
line-height: 160%;
text-align: center;
vertical-align: center;
}
.hero-button:hover,
.hero-button:focus {
    background-color: var(--booton-activ-color);
    cursor: pointer;
}
/* Особливості */
.features-title {
color: var(--title-text-color);

font-weight: 700;
font-size: 14px;
line-height: 1.14;
line-height: 100%;
text-align: left;
vertical-align: top;
}
.features-text {
color: var(--primary-text-color);

font-weight: 400;
font-size: 14px;
line-height: 1.17;
line-height: 146%;
text-align: left;
vertical-align: top
}
/* Чим ми займаємося */
.work-title {
color: var(--title-text-color);

font-weight: 700;
font-size: 36px;
line-height: 1.17;
line-height: 100%;
text-align: center;
vertical-align: top
}
/* Наша команда */
.team {
background-color: var(--secondary-background-color-pag);
}
.team-title {
color: var(--title-text-color);

font-weight: 700;
font-size: 36px;
line-height: 1.17;
line-height: 100%;
text-align: center;
vertical-align: top
}
.team-name {
color: var(--title-text-color);

font-weight: 500;
font-size: 16px;
line-height: 1.19;
line-height: 100%;
text-align: center;
vertical-align: top
}
.team-text {
color: var(--primary-text-color);

font-weight: 400;
font-size: 16px;
line-height: 1.19;
line-height: 100%;
text-align: center;
vertical-align: top
}
/* Footer */
.page-footer {
    background-color: var(--background-color-footer) 
}
/* Логотип Footer */
.logo-web-footer {
    color: var(--footer-text-color);

    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    line-height: 100%;
    text-align: Left;
    vertical-align: Top;
}
/* Адреса Footer */
.address {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.19;
    line-height: 146%;
    text-align: Left;
    vertical-align: Top; 
}
.footer-link-address {
    color: var(--footer-text-color);
}
.footer-link-mail {
    color: var(--accent-color-text-footer)
}
.footer-link-tel {
    color: var(--accent-color-text-footer)
} 
.footer-link-mail:hover,
.footer-link-mail:focus {
    color: var(--accent-color);
}
.footer-link-tel:hover,
.footer-link-tel:focus {
    color: var(--accent-color);
}
.footer-link-address:hover,
.footer-link-address:focus {
    color: var(--accent-color);
}
/* ---------ПОРТФОЛІО--------- */
/* Кнопки */
.filter-button {
color: var(--title-text-color);
background-color: var(--secondary-background-color-pag);

font-family: inherit;
letter-spacing: 0.03em;
font-weight: 500;
font-size: 16px;
line-height: 1.63;
line-height: 139%;
text-align: center;
vertical-align: top;
}
.filter-button:hover,
.filter-button:focus {
    color: var(--button-text-color);
    background-color: var(--accent-color);
    cursor: pointer;
}
/* Проекти */
.projects-title {
color: var(--title-text-color);

letter-spacing: 0.06em;
font-weight: 700;
font-size: 18px;
line-height: 2.0;
line-height: 171%;
text-align: left;
vertical-align: top;
}
.projects-text {
color: var(--primary-text-color);

font-weight: 400;
font-size: 16px;
line-height: 1.88;
line-height: 160%;
text-align: left;
vertical-align: top;
}